
body {
  font-family: Arial;  
}

#log {
 background-color: #c0c0c0;
 width: 500px;
 height: 300px;
 overflow: auto;
}

footer {
  position: absolute;
  bottom: 0;
}

footer a {
  color: rgb(175, 21, 155);
}