<html>
<head>
	<title>IdleFleet</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="app.css">
	<style>
	[v-cloak] {display: none}
	</style>
</head>

<body>
<h2>IdleFleet Iteration 0.9087</h2>

<div id="app" v-cloak>

	<p>
		Total Fleet Size: {{ fleetSize }}<br/>
		<span title="Represents ships at home ready to be sent out.">Ships Available to Send: {{ numAvailableShips }}</span><br/>
		<span title="Reports when the soonest ship return time is.">Next Ship Returns In: {{ nextShipReturnTime }}</span><br/>
		Credits: {{ credits | number }}<br/>
		<span v-if="cepsAllowed" title="Average credits earned (or lost) over the past 10 seconds.">CEPS: {{ ceps | number }}</span><br/>
		<span v-if="mercantileAllowed" title="Represents how well your ships will trade and earn money.">Mercantile Skill: {{ mercantileSkill }}<br/></span>
		<span v-if="shipSpeedAllowed" title="Represents how much faster your ships travel.">Ship Speed Boost: {{ shipSpeed }}<br/></span>
	</p>

	<p>
		<button @click="sendShips" :disabled="!shipsAvailable">Send Ship(s)</button> 
		<button @click="buyShip" :disabled="!canBuyShip">Buy Ship: {{ newShipCost | number }} credits</button>
		<button @click="buyMercantile" v-if="mercantileAllowed" :disabled="!canBuyMercantile">Improve Mercantile Skill: {{ newMercantileCost | number }}</button>
		<button @click="buyShipSpeed" v-if="shipSpeedAllowed" :disabled="!canBuyShipSpeed">Improve Ship Speed: {{ newShipSpeedCost | number }}</button>
		<button @click="enableAutoShip" v-if="autoShipAllowed" title="If enabled, this will periodically send out available ships."><span v-if="autoShip">Auto Ship Enabled</span><span v-else>Auto Ship Disabled</span></button>
	</p>

	<div id="log" v-html="logDisplay" ref="logDiv"></div>
	<!--
	<button @click="randomEvent">randevent</button>
	-->
	<footer>
	<p>
	Created by <a href="https://www.raymondcamden.com" target="_new">Raymond Camden</a> - <a href="https://github.com/cfjedimaster/IdleFleet" target="_new">github repo</a>
	</p>
	</footer>
</div>

	<script src="https://unpkg.com/vue/dist/vue.min.js"></script>
	<script src="app.js" type="module"></script>
</body>
</html>